<div class="container">
    <div class="text-container">
<p>
    English (US)
    Español (España)
    Français (France)
    Português (Brasil)
    Italiano
    Deutsch
    العربية
    हिन्दी
    中文(简体)
    日本語
<button>+</button>    </p>

        <div class="divider"></div>
<p>


        Sign UpLog InMessengerFacebook LiteVideoMeta PayMeta StoreMeta QuestRay-Ban MetaMeta AIInstagramThreadsVoting Information CenterPrivacy PolicyPrivacy CenterAboutCreate adCreate PageDevelopersCareersCookiesAd choices
    TermsHelpContact Uploading & Non-Users
    Settings
    Activity log

Meta © 2025
    </p>
</div>
</div>